
Debug/BuildLog.htm
Debug/main.obj
Debug/mt.dep
Debug/talesky.exe.embed.manifest
Debug/talesky.exe.embed.manifest.res
Debug/talesky.exe.intermediate.manifest
Debug/vc90.idb
Debug/vc90.pdb
talesky.vcproj.MEERON.cre8.user